body{
    background-color: #262B37;
    color: #d4d4d4;
}
a{
    color: #d4d4d4;
}
a:hover{
    color: #fff;
}
#index #a-index{
    background-color: #4E5A61;
}
#beispiele #a-beispiele{
    background-color: #4E5A61;
}
#multi #a-multi{
    background-color: #4E5A61;
}
#menuapp #a-menuapp{
    background-color: #4E5A61;
}
/*.description{
    background-color: #f3997b;
}*/
#menu-list{
    background-color: #4E5A61c4;
}
a li:hover{
    background-color: #4E5A61;
}
.image-article{
    background-color: #433F3F;   
}
.image{
    background-color: #433F3F;
}
.table{
    background-color: #36465E;
}
.pages{
    background-color: #262B37;
}
.page.left{
    background-color:  #433F3F;
}
.page.middle{
    background-color: #414349;
}
.page.right{
    background-color: #36465E;
}
.heading{
    background-color: #4E5A61;
}
.heading-div{
    background-color: #4E5A61;
}
section{
    background-color: #4E5A61;
}
/*section a{*/
    /*color: black;*/
/*}*/
footer{
    background-color: #36465E;
}
@media screen and (max-width: 820px){
    .description{
        background-color: #262B37;
    }
}
.heading-div{
    font-weight: 500;
    /*color: #d4d4d4;*/
}
#menu-list a{
    font-weight: 300;
    /*color: #d4d4d4;*/
}
.table{
    font-weight: 300;
    /*color: #d4d4d4;*/
}
.table strong{
    font-weight: 400;
}
.synopsis{
    font-weight: 300;
    /*color: #d4d4d4;*/
}
.page p{
    font-weight: 300;
    /*color: #d4d4d4;*/
}
.page h3{
    font-weight: 500;
    /*color: #d4d4d4;*/
}
.contact h3{
    font-weight: 500;
    /*color: #d4d4d4;*/
}
.contact a{
    font-weight: 300;
    /*color: #d4d4d4;*/
}
/*.contact a:hover{*/
    /*color: #d9d9d9;*/
/*}*/
footer p{
    font-weight: 300;
    /*color: #d4d4d4;*/
}