@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,100;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
    /*user-select: none;*/
}
body{
    font-family: 'Roboto', sans-serif;
    /*background-color: #f3997b;*/
}
#index #a-index{
    font-weight: bold;
}
#index #a-index span::before{
    content: '\>\00a0\00a0';
}
#beispiele #a-beispiele{
    font-weight: bold;
}
#beispiele #a-beispiele span::before{
    content: '\>\00a0\00a0';
}
#multi #a-multi{
    font-weight: bold;
}
#multi #a-multi span::before{
    content: '\>\00a0\00a0';
}
#menuapp #a-menuapp{
    font-weight: bold;
}
#menuapp #a-menuapp span::before{
    content: '\>\00a0\00a0';
}
#mode-window{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    /*display: none;*/
    background-color: #9e9e9ecf;
    overflow-x: hidden;
    transition: 0.5s;
}
#close-window{
    display: flex;
    justify-content: flex-end;
    font-size: xx-large;
    cursor: pointer;
    padding-right: 20px;
}
#screenshots{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#screenshots img{
    width: 250px;
}
#screenshots p{
    padding: 5px 0;
}
.screenshot-cell{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#button-change{
    width: 100%;
    display: flex;
    justify-content: center;
}
#button-change div{
    width: 750px;
    margin: 15px;
}
#change{
    padding: 4px;
}
.container{
    position: relative;
    min-height: 100vh;
    /*width: 600px;*/
    /*margin: 0 auto;*/
}
header{
    width: 100%;
}
.heading{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 4.3em;
    /*background-color: #f3997b;*/
}
.heading-div{
    width: 600px;
    position: absolute;
    height: 4.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: white;*/
    box-sizing: border-box;
    padding: 15px 4px 15px 4px;
}
.image-link-menu{
    /*display: inline-block;*/
    /*position: absolute;*/
    /*left: 7em;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /*flex-direction: row;*/
    width: 10.5em;
    /*height: 4.3em;*/
    /*padding-right: 1.3em;*/
}
/*.image-link-arrow::after{
    font-size: 1.7em;
    content: '\2630';
}*/
.image-link-menu a{
    text-decoration: none;
    color: #000;
}
/*.image-link-menu img{
    padding-top: 0.6em;
    width: 1.35em;
    height: 1.35em;
    cursor: pointer;
}*/
.mode{
    /*padding-top: 0.6em;*/
    /*width: 1.35em;*/
    /*height: 1.35em;*/
    /*display: inline-block;*/
    /*cursor: pointer;*/
    /*font-size: 5em;*/
    padding-right: 1em;
    /*font-weight: bold;*/
    user-select: none;
}
.image-link-menu #display-mode{
    padding-top: 0.35em;
    /*width: 1.35em;*/
    /*height: 1.35em;*/
    /*display: inline-block;*/
    cursor: pointer;
    font-size: 1.9em;
    /*font-weight: bold;*/
}
.menu{
    /*position: relative;*/
    /*height: 4em;*/
    /*display: inline-block;*/
    /*height: 2em;*/
    /*width: 10.5em;*/
    /*text-align: right;*/
    padding-right: 0.5em;
    user-select: none;
}
.menu #menu-list-open{
    position: relative;
    /*position: absolute;*/
    /*display: block;*/
    /*top: 0;*/
    /*left: 1.6em;*/
    /*right: 1em;*/
    font-weight: bold;
    font-size: 2.3em;
    cursor: pointer;
    /*text-align: right;*/
}
.menu #menu-list{
    /*position: relative;*/
    position: absolute;
    top: 3.35em;
    display: none;
    right: 0.5em;
    width: 10.5em;
    list-style: none;
    /*padding-inline-start: 0;*/
    /*margin-block-start: 0;*/
    /*margin-block-end: 0;*/
    text-align: right;
    /*background-color: rgba(218, 213, 213);*/
    z-index: 3;
}
.menu #menu-list-open:hover+#menu-list{
    display: block;
    /*margin-right: 5em;*/
    width: 10.5em;
}
.menu #menu-list:hover{
    display: block;
    /*margin-right: 5em;*/
    width: 10.5em;
}
.menu li{
    min-height: 1.6em;
    padding-top: 0.2em;
    padding-right: 0.45em;
    border-bottom: 1px dotted #000000;
    cursor: pointer;
}
/*.menu li{
    cursor: pointer;
}*/
.menu li:hover{
    display: block;
    font-weight: bold;
}
.first-item{
    border-top: 1px dotted #000000;
}
/*.heading-div img{
    width: 1.3em;
    height: 1.3em;
    padding-right: 0.8em;
    cursor: pointer;
}*/
.description{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    /*background-color: #f3997b;*/
    margin-top: 2px;
}
.image-article img{
    width: 654px;
    /*background-color: #8f99cd;*/
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 14px;
}
.image img{
    width: 327px;
    /*background-color: #8f99cd;*/
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 14px;
}
.table{
    /*background-color: #ab8cc0;*/
    width: 327px;
    box-sizing: border-box;
    padding: 14px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /*background-color: #f3997b;*/
}
.synopsis{
    width: 600px;
    box-sizing: border-box;
    padding: 45px 14px;
    margin: 2px 0;  
}
.inline-code{
    font-family: monospace;
}
.pages{
    width: 654px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.page{
    width: 190px;
    padding: 14px;
}
/*.left{
    background-color: #c693c2;
}
.middle{
    background-color: #f29fc5;
}
.right{
    background-color: #c693c2;
}*/
.contact{
    padding-bottom: 120px;
    width: 600px;
    padding-top: 45px;
    margin: 2px 0;
}
.contact div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*section{
    background-color: white;
}*/
section a{
    text-decoration: none;
    /*color: black;*/
}
section a:hover{
    color: #0000007f;
}
.contact-mail a{
    margin-top: 0.3em;
}
.contact .follow-up{
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 8.9em;
    margin: 0 auto;
    margin-top: 1.7em;
}
.twitter-follow-button .twitter-icon{
    background-image: url("./images/icon-1978126.png");
    background-size: auto;
    background-position: 0 0;
    width: 2.3em;
    height: 2.3em;
    margin: 0 1em;
    border-radius: 0.19em;
}
.linkedin-follow-button .linkedin-icon{
    background-image: url('./images/icon-1978126.png');
    background-size: auto;
    background-position: -7.6em 0;
    width: 2.3em;
    height: 2.3em;
    margin: 0 1em;
    border-radius: 0.19em;
}
.twitter-follow-button .twitter-icon:hover{
    background-color: #0000007f;
    background-blend-mode: overlay;

}
.linkedin-follow-button .linkedin-icon:hover{
    background-color: #0000007f;
    background-blend-mode: overlay;
}
footer{
    position: absolute;
    bottom: 0;
    display: flex;
    height: 1.1rem;
    justify-content: center;
    width: 100%;
    /*background-color: black;*/
    box-sizing: border-box;
    padding: 4px;
}
footer p{
    display: flex;
    justify-content: left;
    box-sizing: border-box;
    width: 600px;
    font-size: x-small;
    padding-left: 16px;
    padding-right: 16px;
    /*color: white;*/
}
footer p #text-left{
    /*width: 60px;*/
    text-align: start;
    /*cursor: pointer;*/
}
footer p #text-right{
    /*width: 60px;*/
    text-align: end;
    
}
footer p #lang-de{
    cursor: pointer;
}
footer p #lang-de:hover{
    color: #d3d3d3e3;
    /*background-blend-mode: overlay;*/
}
footer p #lang-en{
    cursor: pointer;
}
footer p #lang-en:hover{
    color: #d3d3d3e3;
    /*background-blend-mode: overlay;*/
}
@media screen and (max-width: 1400px){
    .container{
        width: 100%;
    }
    .heading-div{
        width: 100%;
        height: auto;
    }
    /*.heading-div img{
        width: 1.5em;
        height: 1.5em;
        /*padding-right: 12px;*/
        /*margin-top: -0.6em;
    }*/
    /*.image-link-menu #display-mode{*/
        /*width: 1.35em;*/
        /*height: 1.35em;*/
        /*padding-right: 12px;*/
        /*margin-top: 0;*/
    /*}*/
    /*.menu #menu-list-open{*/
        /*top: -0.1em;*/
        /*margin-top: 0;*/
    /*}*/
    .menu #menu-list{
        top: 3.6em;
        /*width: 10.5em;*/
        right: 0.5em;
    }
    /*.menu li{*/
        /*margin-right: 0;*/
        /*height: auto;*/
    /*}*/
    .description{
        /*background-color: white;*/
        position: relative;
        top: 0.8em;
    }
    .image-article img{
        width: 100%;
        position: relative;
        /*top: 0.5em;*/
    }
    .synopsis{
        width: 100%;
        position: relative;
        top: 1em;
    }
    .pages{
        width: 100%;
        position: relative;
        top: 1em;
    }
    .contact{
        width: 100%;
        position: relative;
        top: 1em;
    }
    footer{
        position: relative;
        width: 100%;
        top: 1em;
        /*height: 1.5em;*/
    }
    footer p{
        min-width: 100%;
    }
}
@media screen and (max-width: 540px){
    .menu #menu-list{
        top: 4.5em;
        /*width: 10.5em;*/
        /*right: 0.5em;*/
    }
    .description{
        /*background-color: white;*/
        position: relative;
        top: 2.4em;
    }
    .image-article img{
        /*width: 100%;*/
        position: relative;
        /*top: 0.5em;*/
    }
    .synopsis{
        /*width: 100%;*/
        position: relative;
        top: 2.5em;
    }
    .pages{
        /*width: 100%;*/
        position: relative;
        top: 2.5em;
    }
    .contact{
        /*width: 100%;*/
        position: relative;
        top: 2.5em;
    }
    footer{
        position: relative;
        /*width: 100%;*/
        top: 2.5em;
        /*height: 1.5em;*/
    }
    /*footer p{*/
        /*min-width: 100%;*/
    /*}*/
}