body{
    background-color: #262B37;
}
#index #a-index{
    background-color: #4E5A61;
}
#beispiele #a-beispiele{
    background-color: #4E5A61;
}
#multi #a-multi{
    background-color: #4E5A61;
}
#menuapp #a-menuapp{
    background-color: #4E5A61;
}
/*.description{
    background-color: #f3997b;
}*/
#menu-list{
    background-color: #4E5A61c4;
}
li:hover{
    background-color: #4E5A61;
}
.mode{
    padding-top: 0.15em;
}
.image-article{
    background-color: #433F3F;   
}
.image{
    background-color: #433F3F;
}
.table{
    background-color: #36465E;
}
/*main{
    background-color: #f3997b;
}*/
.left{
    background-color:  #433F3F;
}
.middle{
    background-color: #414349;
}
.right{
    background-color: #36465E;
}
.heading{
    background-color: #4E5A61;
}
.heading-div{
    background-color: #4E5A61;
}
section{
    background-color: #4E5A61;
}
section a{
    color: black;
}
footer{
    background-color: #36465E;
}
footer p{
    color: #000;
}
@media screen and (max-width: 820px){
    .description{
        background-color: #4E5A61;
    }
}
.heading-div{
    font-weight: 500;
    color: #ffffffa4;
}
#menu-list a{
    font-weight: 300;
    color: #ffffffa4;
}
.table{
    font-weight: 300;
    color: #ffffffa4;
}
.table strong{
    font-weight: 400;
}
.synopsis{
    font-weight: 300;
    color: #ffffffa4;
}
.page p{
    font-weight: 300;
    color: #ffffffa4;
}
.page h3{
    font-weight: 500;
    color: #ffffffa4;
}
.contact h3{
    font-weight: 500;
    color: #ffffffa4;
}
.contact a{
    font-weight: 300;
    color: #ffffffa4;
}
footer p{
    font-weight: 300;
    color: #ffffffa4
}