body{
    background-color: #939597;
}
/*.description{
    background-color: #f3997b;
}*/
#menu-list{
    background-color: #c2bfb5c4;
}
li:hover{
    background-color: #c2bfb5;
}
.image{
    background-color: #8cacd3;
}
.table{
    background-color: #f5df4d;
}
/*main{
    background-color: #f3997b;
}*/
.left{
    background-color:  #8cacd3;
}
.middle{
    background-color: #afa4ce;
}
.right{
    background-color: #f5df4d;
}
.heading-div{
    background-color: #c2bfb5;
}
section{
    background-color: #c2bfb5;
}
section a{
    color: black;
}
footer{
    background-color: #000/*#f0a1bf*/;
}
footer p{
    color: #fff;
}
@media screen and (max-width: 820px){
    .description{
        background-color: #c2bfb5;
    }
}